:root {
    --searchbar-and-project-area-bg: #e2e8f0;
    --dashboard-and-profile-nav-and-project-fg: #ffffff;
    --first-column-and-share: #1992d4;
    --icon-sizes: 24px;
    --font-choice: 'Roboto';
}

body {
    font-family: var(--font-choice);
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/RobotoMono-VariableFont_wght.ttf);
}

.main-grid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto 1fr;
}

/* BACKGROUND COLOR GRID-AREAS */
.first-column-bg {
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    background-color: var(--first-column-and-share);
    z-index: -1;
}

/* HEADER ROW-1 AUTO */
.header-content {
    grid-row: 1 / 2;
    grid-column: 2 / 4;

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 10px;
}

.dashboard {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 80px 0px 10px;
    gap: 8px;
}

.dashboard svg {
    fill: var(--dashboard-and-profile-nav-and-project-fg);
    width: 50px;
    height: auto;
}

.dashboard-text {
    color: var(--dashboard-and-profile-nav-and-project-fg);

    font-family: var(--font-choice);
    font-size: 24px;
    font-weight: bold;
}

.search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    padding-left: 40px;
    gap: 20px;
}

.search svg {
    width: var(--icon-sizes);
    height: auto;
    /* transform: translateY(2px); */
}

.search-bar {
    background-color: var(--searchbar-and-project-area-bg);
    border: none;
    border-radius: 20px;
    height: 25px;
    width: 100%;
}

.profile-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    padding-right: 40px;
}

.profile-header svg {
    width: var(--icon-sizes);
    height: auto;
    padding-right: 20px;
}

.profile-header-frame {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.profile-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(2);
    object-position: 0% 80%;
}

.profile-name {
    font-family: var(--font-choice);
    font-size: 18px;
    font-weight: bold;
}


/* PROFILE-NAV COLUMN-1 */
.profile-nav {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    height: 100vh;
    padding-left: 25px;
}

.profile-nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    gap: 20px;
    list-style-type: none;
    padding: 20px 0px 0px 0px;
}

.profile-nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.profile-nav svg {
    fill: var(--dashboard-and-profile-nav-and-project-fg);
    width: var(--icon-sizes);
    height: auto;
}

.profile-nav span {
    font-family: var(--font-choice);
    color: var(--dashboard-and-profile-nav-and-project-fg);
    font-size: 18px;
    font-weight: bold;
}

.group-end {
    margin-bottom: 20px;
}

.user-hero {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.user-hero-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-left: 40px;
}

.uh-image-wrapper {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.uh-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(2);
    object-position: 0% 80%;
}

.user-welcome {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user-welcome span {
    font-family: var(--font-choice);
    font-weight: bold;
}

.uw-greeting {
   font-size: 12px;
}

.uw-username {
    font-size: 20px;
}

.user-sharing {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 40px;

}

.user-sharing span {
    background-color: var(--first-column-and-share);
    border: none;
    border-radius: 18px;
    color: white;
    font-family: var(--font-choice);
    font-weight: bold;
    padding: 8px 30px;    
}


/* PROJECT SECTION */
.project-grid-area {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--searchbar-and-project-area-bg);
}

.project-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.project-label {
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.project-box {
    display: grid;
    grid-template-rows: 3fr 1fr;
    background-color: white;
    /* width: 500px;
    height: 300px; */
    border-radius: 10px;
}

.project-text {
    grid-row: 1 / 2;
    padding-left: 30px;
    padding-top: 35px;
    padding-right: 20px;
    font-family: var(--font-choice);
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.project-icons {
    grid-row: 2 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.project-description {
    /* font-weight: lighter; */
    color: gray;
}

.project-icons svg {
    width: 25px;
    height: 25px;
}

.project-title {
    font-weight: bold;
}

.updates {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    background-color: var(--searchbar-and-project-area-bg);
    padding-top: 30px;
    padding-right: 20px;
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 20px;
}

.announcements-grid-area {
    grid-row: 1 / 2; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 350px;

}

.announcements-grid-label {
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.announcements-grid-box {
    display: grid;
    grid-template-rows: auto;
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    /* align-items: center; */
}

.announcement-title {
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.announcement-text {
    color: gray;
    font-size: 12px;
}

.divider {
    margin-top: 20px;
    margin-bottom: 20px;
    
    height: 2px;
    width: 100%;
    border-radius: 2px;
    background-color: gray;
}

/* .announcements1,
.announcements2,
.announcements3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
} */

.trending-wrap {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 10px;
    padding: 20px 20px;
    gap: 10px;
}

.trending-img-wrap {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.trending-grid-area {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 350px;
}

.trending-grid-label {
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
.trending-grid-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(2);
    /* object-position: 0% 80%; */
}

.trending-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.trending-profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.tp-username {
    font-weight: bold;
}